@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Marhey&display=swap");
* {
  box-sizing: border-box;
}
.title-container {
  background-color: #2f2857;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin: 16px 25px 10px 8px;
  font-size: 25px;
  color: #43df84;
}
.wheel-text {
  font-size: 25px;
  margin: 50px 0 -15px;
}
.title-container h2 {
  font-family: "Lobster", cursive;
  margin: 20px 15px;
  letter-spacing: 0.08rem;
  color: #43df84;
  font-size: 28px;
}
.title-container a {
  text-decoration: none;
}
.mobile-tab-container {
  display: flex;
}
.mobile-tab-container div {
  width: 33.33%;
}
.tab {
  border: 1px solid #3c415c;
  background-color: #464c69;
  list-style-type: none;
  padding: 10px;
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}
.link {
  text-decoration: none;
  color: #b2b9d8;
}
.spin-header {
  background: none;
  border: none;
  color: #5a42e2;
  font-family: "Lobster", cursive;
  font-size: 20px;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .mobile-tab-container {
    display: none;
  }

  .title-container h2 {
    margin: 20px 2rem;
    font-size: 35px;
  }
  .icon {
    margin: 16px 35px 10px 15px;
    font-size: 30px;
  }
  .spin-x {
    right: 25px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    cursor: pointer;
  }
}
