* {
  box-sizing: border-box;
}

.wantToWatchContainer {
  display: none;
}

.wantToWatch-container {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 7px;
  height: 40rem;
  margin: 28px 25px 0;
  width: 25rem;
  border: #4a6794 3px solid;
  background-color: #599472;
  position: relative;
}

.wantToWatch-inner h3 {
  font-size: 30px;
  text-align: center;
}

.wantToWatch-inner h3::after {
  content: "";
  display: block;
  width: 18rem;
  height: 2px;
  background: #5e7088;
  left: 1rem;
  top: 80px;
  position: absolute;
}
.want-to-item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  position: relative;
  padding: 5px 30px;
  margin: 18px;
  background-color: #5a49be;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-container {
  margin-top: 30px;
}
.wantToWatch-input {
  padding: 7px 5px;
  border-radius: 0 5px 0 5px;
  border: 1px solid #7ea9eb;
  background-color: #cbeeda;
  width: 15rem;
  margin-right: 10px;
}
.wantToWatch-inputBtn {
  border-radius: 0 5px 0 5px;
  border: 1px solid #7ea9eb;
  background-color: #5a6ea8;
  padding: 6px;
  color: #a3a9b3;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.wantToWatch-inputBtn:hover {
  transform: scale(0.98);
}
.input-container {
  display: flex;
  justify-content: center;
}

.delete-want-btn {
  border: transparent;
  background: transparent;
  position: absolute;
  right: 12px;
  top: 11px;
  padding: 3.5px 6.3px 2px;
  background: none;
  border: none;
  border-radius: 10px;
  background-color: #717791;
  opacity: 0.5;
  color: #192941;
  cursor: pointer;
  transition: 0.25s;
  padding: 0;
}
.delete-want-btn:hover {
  background-color: #717791;
  opacity: 1;
}
.finished {
  cursor: pointer;
  background: none;
  border: none;
  color: #9ca2aa;
  font-size: 18px;
  margin-right: 20px;
}
.finished:hover {
  color: #b0b8c2;
}
.want {
  display: flex;
  justify-content: center;
}
.want-movie-list {
  font-size: 20px;
}
.scroll {
  height: 30.5rem;
  overflow: hidden;
}
.spin-modal-container {
  display: none;
}
@media (min-width: 1280px) {
  .wantToWatch-container {
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    border-radius: 7px;
    height: 40rem;
    margin: 50px 30px 0;
    width: 30rem;
    border: #4a6794 3px solid;
    position: relative;
  }

  .wantToWatch-inner h3 {
    font-size: 30px;
    text-align: center;
  }

  .wantToWatch-inner h3::after {
    content: "";
    display: block;
    width: 20rem;
    height: 1.5px;
    background: #5e7088;
    left: 4.5rem;
    top: 80px;
    position: absolute;
  }
  .Home {
    display: flex;
    justify-content: center;
  }
  .wantToWatchContainer {
    display: block;
  }
  .want-to-item {
    width: 25rem;
    margin: 18px 32px;
  }
  .want-to-item i {
    margin: 0px 20px 0 5px;
    font-size: 18px;
    color: #888d94;
  }

  .wantToWatch-input {
    width: 16rem;
  }

  .delete-want-btn i {
    padding: 5px 8px;
    font-size: 15px;
    margin: 0;
  }

  .spin-modal-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: absolute;
    top: 13%;
    right: 35%;
    text-align: center;
    background-color: #2f275f;
    width: 32rem;
    border: 2px solid #5a42e2;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
    display: block;
  }
  #canvas {
    width: 650px;
    margin-left: 3.5rem;
  }

  .spinner-open {
    opacity: 1;
    visibility: visible;
  }
}
