@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Sans&family=Montserrat&family=Quicksand&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #272938;
  color: #bdc0cc;
  font-family: 'Quicksand', sans-serif;
}

/* MOBILE VERSION START */

/* HOME */
.watched-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 25px;
  border-radius: 7px;
  background-color: #3d4253;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watched-inner {
  padding: 20px;
}

.watched-heading{
  text-align: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #535a79;
  border-radius: 7px;
  list-style-type: none;
}
.mobile-top-card{
  display: flex;
}

.movie-title{
  font-size: 20px;
  color: #7ea9eb;

}

.card-list-item {
  padding: 5px;
}

.list-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #1f2336;
  text-decoration: underline;
}
.list-btn:hover {
  color: #313650;
}

/* comment dropdown */
.comment-dropdown{
  display: none;
}
.display-comments{
  display: block;
}